<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story6</title>
</head>
<body>
    <div>
        <h1>Hello World</h1>
        <p>Please Write your status</p>
    </div>
    <div>
        <form class="status-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label>status</label>
              {{status.status}}
            </div>
            <button type="submit" class="save btn-primary">Submit</button>
          </form>
    </div>
    <h1>This Is Your Status:</h1>
    {%for data in Data%}
    <div>
        <p>{{data.status}}</p>
    </div>
    {%endfor%}
</body>
</html>